{% extends "template.html" %}

{% block css %}

{% endblock %}

{% block body %}
    <style>
        div{
            display:inline;
        }
    </style>
    {% if gameOver %}
        {% if userWin %}
            <br>
            <br>
            <br>
            <center><h3>WINNER WINNER</h3>
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/easy-chicken-dinners-zesty-orange-glazed-drumsticks-1561669174.jpg?crop=0.860xw:0.859xh;0.0700xw,0.0748xh&resize=640:*">
            </center>
            <br>
            <center><h1><a href="/blackjack"><button type="button" class="btn btn-success">Play Again?</button></a></h1></center>
            <h1 class="display-3"> The House</h1>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                {% for card in ourcards%}
                    <div class = "col">
                        <img src={{card[0]}}>
                    </div>
                {% endfor %}
            </div>
            <h3 class="display-4">Our Score: {{ourscore}}</h3>
            <br>
            <h1 class="display-3"> Your Cards</h1>
            <div class="row">
                {% for card in usercards%}
                <div class = "col">
                    <img src={{card[0]}}>
                </div>
                {% endfor %}
                <h3 class="display-4">Your Score: {{yourscore}}</h3>
            </div>
        {% else %}
            <br>
            <br>
            <br>
            <center><h3>YOU LOSE!</h3></center>
            <center><h3>AT LEAST YOU TRIED ... next time try harder I guess</h3></center>
            <br>
            <center><h1><a href="/blackjack"><button type="button" class="btn btn-success">Redemption?</button></a></h1></center>
            <br>
            <br>
            <br>
            <h1 class="display-3"> The House</h1>
            <br>
            <div class="row">
                {% for card in ourcards%}
                    <div class = "col">
                        <img src={{card[0]}}>
                    </div>
                {% endfor %}
            </div>
            <h3 class="display-4">Our Score: {{ourscore}}</h3>
            <br>
            <h1 class="display-3"> Your Cards</h1>
            <div class="row">
                {% for card in usercards%}
                <div class = "col">
                    <img src={{card[0]}}>
                </div>
                {% endfor %}
                <h3 class="display-4">Your Score: {{yourscore}}</h3>
        {% endif %}
    {% endif %}
    <div class=container-fluid>
        {% if gameStarted %}
                {% if userMove %}
                    <br>
                    <br>
                    <h1 class="display-3"> The House</h1>
                    <div class="row">
                        <div class = "col">
                            <img src={{ourcards[0][0]}}>
                        </div>
                        <div class = "col">
                            <img src="https://bicyclecards.com/wp-content/uploads/2015/06/Oak-Leaf-Back.jpg">
                        </div>
                        <h3 class="display-4">Our Score: {{ourscore}}</h3>
                    </div>
                    <br>
                    <h1 class="display-3"> Your Cards</h1>
                    <div class="row">
                        {% for card in usercards%}
                        <div class = "col">
                            <img src={{card[0]}}>
                        </div>
                        {% endfor %}
                    </div>
                    <center><h1><a href="/draw"><button type="button" class="btn btn-success">HIT ME</button></a></h1></center>
                    <center><h1><a href="/houseblackjack"><button type="button" class="btn btn-success">STAY</button></a></h1></center>
                    <h3 class="display-4">Your Score: {{userscore}}</h3>
                {% else %}
                    <h1 class="display-3"> The House</h1>
                    <br>
                    <div class="row">
                        {% for card in ourcards%}
                            <div class = "col">
                                <img src={{card[0]}}>
                            </div>
                        {% endfor %}
                    </div>
                    <h3 class="display-4">Our Score: {{ourscore}}</h3>
                    <br>
                    <h1 class="display-3"> Your Cards</h1>
                    <div class="row">
                        {% for card in usercards%}
                        <div class = "col">
                            <img src={{card[0]}}>
                        </div>
                        {% endfor %}
                    </div>
                    <h3 class="display-4">Your Score: {{userscore}}</h3>
                    <br>
                <center><h1><a href="/houseblackjack"><button type="button" class="btn btn-success">Continue</button></a></h1></center>
                {% endif %}
            </div>
            <br>
            <br>
            <br>
        {% else %}
            {% if not gameOver %}
                <br>
                <br>
                <center><h1><a href="/playblackjack"><button type="button" class="btn btn-success">START GAME</button></a></h1></center>
            {% endif %}
        {% endif %}
{% endblock %}
