{% extends "template.html" %}

{% block buttons %}
{% if sessionstatus %}

<html lang="en">
<li class="nav-item">
  <a href="{{ url_for('play') }}" class="nav-link">Play</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('profile') }}" class="nav-link">My Profile</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% else %}
<li class="nav-item">
  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('register') }}" class="nav-link">Register</a>
</li>

{% endif %}
{% endblock %}

{% block body %}


<!--<a href="{{ url_for('root') }}" class="nav-link" style="color: black; padding: 0px;">-->
<div class="jumbotron text-center" style="border-radius: 0; margin-top:-16px;">
  <h1>XΞNUS</h1>
</div>
<!---</a>--->

{% if sessionstatus %}

{% for message in get_flashed_messages() %}
<br>
<center>{{ message }}</center>
{% endfor %}

{% block searchresults %}
{% endblock %}

{% else %}
<center>
<br>
<a href="#bottom"><button type="button" class="btn btn-success">Overview</button></a>
<br>
<br>
<p><i>See what we're all about!</i></p>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--games in storyline background info-->

<div class="container">
		<h1 class="text-center">Overview</h1>
		<br><br>
		<div class="row">
			<!-- col class automatically separates the webpage based on how many columns the user puts in the container -->
			<div class="col">
				<h3>Each Column Element</h3>
				<p>Bacon ipsum dolor amet biltong ball tip drumstick ground round shank cupim bacon brisket corned beef. Swine shank venison buffalo shoulder, meatball cow pastrami landjaeger shankle. Shoulder fatback meatball ribeye
					pork chop drumstick spare ribs corned beef filet mignon salami bresaola pork belly ground round. Pork chop capicola spare ribs, ball tip t-bone bresaola rump tail biltong ham pork loin fatback flank tri-tip
					short ribs. Short ribs tri-tip boudin strip steak, venison pig drumstick.</p>


				<button type="button" class="btn btn-success">
					Notifications <span class="badge badge-light">4</span>
				</button>
			</div>

			<div class="col">
				<h3>Belongs To Their Own</h3>
				<p>Filet mignon turducken pork chop andouille ball tip cow meatloaf alcatra jowl. Pork salami hamburger ham hock spare ribs ball tip. Doner kevin swine flank chicken ground round frankfurter prosciutto shankle pig.
					Landjaeger pastrami chuck leberkas flank. Pork meatball pork belly pancetta, pork chop shank boudin chuck ball tip swine t-bone tail rump short loin. Tenderloin pork belly tail, cupim kielbasa fatback drumstick
					beef ribs shank sausage pork spare ribs. Pork belly chuck shankle, andouille beef capicola t-bone kevin picanha tail alcatra tongue.</p>

				<button type="button" class="btn btn-warning">
					Notifications <span class="badge badge-light">4</span>
				</button>
			</div>
      </div>
    </div>

<br>
<br>
<br>
<br>

<div class="container">
  <!--Include the bootstrap carousel-->
		<h1 class="text-center">Gallery</h1>
  </div>



{% endif %}

{% endblock %}
