{% extends "template.html" %}

{% block buttons %}
{% if sessionstatus %}
<html lang="en">
<li class="nav-item">
  <a href="{{ url_for('play') }}" class="nav-link">Play</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('profile') }}" class="nav-link">My Profile</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% else %}
<li class="nav-item">
  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('register') }}" class="nav-link">Register</a>
</li>

{% endif %}
{% endblock %}

{% block body %}


<!--<a href="{{ url_for('root') }}" class="nav-link" style="color: black; padding: 0px;">-->
<div class="jumbotron text-center" style="border-radius: 0; margin-top:-16px;">
  <h1>Escape the Xenus</h1>
  <p>Will You Overcome The Challenges?</p>
</div>
<!---</a>--->

{% if sessionstatus %}

{% for message in get_flashed_messages() %}
<br>
<center>{{ message }}</center>
{% endfor %}

{% block searchresults %}
{% endblock %}

{% else %}
<center>
<br>
<a href="#bottom"><button type="button" class="btn btn-success">Overview</button></a>
<br>
<br>
<p><i>See what we're all about!</i></p>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!---Gallery / Overview------>

<center><h1>Gallery</h1>

  <!--cool--->
<div class="row">
  <div class="col-sm-4">
        <div class="card" style="width: 23rem;">
          <img src="https://www.arcade-museum.com/images/118/118124217189.png" class="card-image" alt="...">
          <div class="card-body">
            <h5 class="card-title">Space Invaders Galactica</h5>
            <p class="card-text">Pew pew pew</p>
            <a href="#TBA" class="btn btn-primary">Info</a>
          </div>
        </div>
        </div>


</center>



{% endif %}

{% endblock %}
