{% extends "template.html" %}

{% block buttons %}
{% if sessionstatus %}

<html lang="en">
<li class="nav-item">
  <a href="{{ url_for('play') }}" class="nav-link">Play</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('profile') }}" class="nav-link">My Profile</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% else %}
<li class="nav-item">
  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('register') }}" class="nav-link">Register</a>
</li>

{% endif %}
{% endblock %}

{% block body %}
<head>

<title>Homepage</title>
<style type="text/css">
	html,body{
		margin:0;
		padding:0;
		font-family:sans-serif;
		color:#FFFFFF;
		background-color:#000000;
	}
</style>
</head>


<!--<a href="{{ url_for('root') }}" class="nav-link" style="color: black; padding: 0px;">-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
  <h1><font size="7">XΞNUS</font></h1>
</center>
<!---</a>--->

{% if sessionstatus %}

{% for message in get_flashed_messages() %}
<br>
<center>{{ message }}</center>
{% endfor %}

{% block searchresults %}
{% endblock %}

{% else %}
<center>
<br>
<a href="#overview_below"><button type="button" class="btn btn-success">Overview</button></a>
<br>
<br>
<p><i>See what we're all about!</i></p>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--games in storyline background info-->

<div class="container">
    <center><h1><a id="overview_below">Overview</a></h1></center>
		<br><br>
		<div class="row">
			<!-- col class automatically separates the webpage based on how many columns the user puts in the container -->
			<div class="col">
				<h3>Trivia</h3>
				<p>The trivia (singular trivium) are three lower Artes Liberales: grammar, logic, and rhetoric. These were the topics of basic education, foundational to the quadrivia of higher education, and hence the material of basic education and an important building block for all undergraduates.</p>
			</div>

			<div class="col">
				<h3>Cee-Lo</h3>
				<p>Cee-lo is a gambling game played with three six-sided dice. Besides the winning combinations, all Cee-lo rules include certain rolls that establish a "point," and there are situations where two or more players will roll and compare their points to determine a winner.</p>
			</div>

      <div class="col">
        <h3>TypeRacer</h3>
        <p>Players compete by racing miniature cars that advance as the users type short passages that are 20 to 100 words long.</p>
      </div>

      <div class="col">
        <h3>Snake</h3>
        <p>Snake is the common name for a video game concept where the player maneuvers a line which grows in length, with the line itself being a primary obstacle. After a variant was preloaded on Nokia mobile phones in 1998, there was a resurgence of interest in the snake concept as it found a larger audience.</p>
      </div>

      <div class="col">
        <h3>BlackJack</h3>
        <p>Blackjack is the American version of a popular global banking game known as Twenty-One, whose relatives include Pontoon and Vingt-et-Un. It is a comparing card game between one or more players and a dealer, where each player in turn competes against the dealer. Players do not compete against each other.</p>
      </div>

      </div>
    </div>

<br>
<br>
<br>
<br>

<div class="container">
  <!--Include the bootstrap carousel-->
		<h1 class="text-center">Gallery</h1>
  </div>



{% endif %}

{% endblock %}
