{% extends "homepage.html" %}

{% block css %}
<style>
  .col-lg{
    margin: 15px;
    padding: 20px;
  }
  .footer-copyright{
    padding: 6px;
    margin-top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white; text-align: center;
    border-top: solid;
    border-color:lightgray;
    border-width: 5px;
  }

  .submitLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
  }
  submitLink:focus {
    outline: none;
  }

</style>
{% endblock %}

{% block searchresults %}
<div class="container-fluid">
  <center>
      <h1>Level 2</h1>
        <p> Congratulations! You have successfully hacked into the spaceship.</p>
        <p>You want to send a message back to earth asking for a landing site. Copy the text that will appear on the next screen to send the message.</p>

  </center>

</div>

<p id="demo"></p>

<script>

  function getTimeRemaining(endtime){
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor( (t/1000) % 60 );
    var minutes = Math.floor( (t/1000/60) % 60 );
    return {
      'total': t,
      'minutes': minutes,
      'seconds': seconds
    };
  }
  function initializeClock(id, endtime){
    var clock = document.getElementById(id);
    var timeinterval = setInterval(function(){
      var t = getTimeRemaining(endtime);
      clock.innerHTML = t.minutes + ' minutes ' + 'and ' +
      t.seconds + ' seconds ';
      if(t.total<=0){
        clearInterval(timeinterval);
      }
    },1000);
  }


  function timeRemaining()
  {
    // if there's a cookie with the name myclock10, use that value as the deadline
    if(document.cookie && document.cookie.match('myclock21')){
      // get deadline value from cookie
      var deadline = document.cookie.match(/(^|;)myclock21=([^;]+)/)[2];
        }
    // otherwise, set a deadline 10 minutes from now and
    // save it in a cookie with that name
    else{
      // create deadline 10 minutes from now
      var timeInMinutes = 10;
      var currentTime = Date.parse(new Date());
      var deadline = new Date(currentTime + timeInMinutes*60*1000);
      // store deadline in cookie for future reference
      var now = new Date();
      var minutes = 10;
      now.setTime(now.getTime() + (minutes * 60 * 1000));
      document.cookie = 'myclock21=' + deadline + '; path=/;' + "expires=" + now.toUTCString() + ";";
    }
    initializeClock('clockdiv', deadline);

  }


</script>


<body onload="timeRemaining()">

  <center><div>You have <span id="clockdiv"></span></div>
    <form action="/typeracer">
      <input type="submit" value = "continue">

    </form>
    </center>
</body>

<br><br><br>

{% endblock %}
