{% extends "homepage.html" %}

{% block css %}
<style>
  .col-lg{
    margin: 15px;
    padding: 20px;
  }
  .footer-copyright{
    padding: 6px;
    margin-top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white; text-align: center;
    border-top: solid;
    border-color:lightgray;
    border-width: 5px;
  }

  .submitLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
  }
  submitLink:focus {
    outline: none;
  }

</style>
{% endblock %}

{% block searchresults %}
<div class="container-fluid">
  <center>
    <h1>Profile</h1>
    <p> User can change pfp here and can see leaderboard and buy xenusbucks so that they can win faster. Each game should be matched with a gameID and it goes in iorder. </p>

  </center>

</div>

<br><br><br>

{% endblock %}
