{% extends "homepage.html" %}

{% block body %}
<!DOCTYPE html>
<head>
<title></title>
<style>
html, body {
  height: 100%;
  margin: 0;
}
body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 1px solid white;
}

#p1
{
  color:red;
  position:absolute;
  left:100px;
  top:100px;
}
#p2
{
  color:red;
  position:absolute;
  left:100px;
  top:120px;
}
#score
{
  color:white;
  position:absolute;
  left:200px;
  top:100px;
}
#high
{
  color:white;
  position:absolute;
  left:150px;
  top:120px;
}

#mission1{
  color:white;
  position:absolute;
    left:520px;
  top:100px;

}
#successMessage{
  color:red;
  position:absolute;
  left:580px;
  top:135px;

}
#timeMessage{
  color:white;
  position:absolute;
  left:580px;
  top:118px;

}
#computationButton{
  color:white;
  position:absolute;
  left:660px;
  top:160px;

}
#button{
  color:white;
  position:absolute;
  left:580px;
  top:130px;

}
#time{
  color:white;
  position:absolute;
  left:645px;
  top:118px;

}
#headerr{
  color:white;
  position:absolute;
  left:645px;
  top:70px;

}
</style>
</head>
<body>
<p id= "headerr">Level 1</p>
<p id="p1">RESOURCES:</p>
<p id="p2">HIGH:</p>
<p id="score"></p>
<p id="high"></p>
<center><p id="mission1">Mission #1:Gather 300 resources to last you for your trip to Earth.</p></center>
<p id="successMessage">You have succesfully collected 300 resources!</p>
<p id="timeMessage">You have</p>
<canvas width="400" height="400" id="game"></canvas>
<p id="demo"></p>
<script>

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  return {
    'total': t,
    'minutes': minutes,
    'seconds': seconds
  };
}
function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var timeinterval = setInterval(function(){
    var t = getTimeRemaining(endtime);
    clock.innerHTML = t.minutes + ' minutes ' + 'and ' +
    t.seconds + ' seconds ';
    if(t.total<=0){
      clearInterval(timeinterval);
    }
  },1000);
}



function timeRemaining()
{
  var timeInMinutes = 10;
  var currentTime = Date.parse(new Date());
  // if there's a cookie with the name myClock, use that value as the deadline
  if(document.cookie && document.cookie.match('myClock4')){
    // get deadline value from cookie
    var deadline = document.cookie.match(/(^|;)myClock4=([^;]+)/)[2];
  }
  // otherwise, set a deadline 10 minutes from now and
  // save it in a cookie with that name
  else{
    // create deadline 10 minutes from now
    var timeInMinutes = 10;
    var currentTime = Date.parse(new Date());
    var deadline = new Date(currentTime + timeInMinutes*60*1000);
    // store deadline in cookie for future reference
    document.cookie = 'myClock4=' + deadline + '; path=/';
  }
  initializeClock('time', deadline);
}



var canvas = document.getElementById('game');
var context = canvas.getContext('2d');
var grid = 16;
var count = 0;
var score=0;
var max=0;
var proceed = false;



var snake = {
  x: 160,
  y: 160,

  // snake velocity. moves one grid length every frame in either the x or y direction
  dx: grid,
  dy: 0,

  // keep track of all grids the snake body occupies
  cells: [],

  // length of the snake. grows when eating an apple
  maxCells:4
};
var apple = {
  x: 320,
  y: 320
};

// get random whole numbers in a specific range
// @see https://stackoverflow.com/a/1527820/2124254
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}
// game loop
function loop() {
  requestAnimationFrame(loop);
  if(score>5){
    document.getElementById("computationButton").style.visibility = "visible";
    document.getElementById("successMessage").style.display = "block";
  }
  //change to 299 later
  else if(max>5){
    document.getElementById("computationButton").style.visibility = "visible";
    document.getElementById("successMessage").style.display = "block";
  }
  else{
    document.getElementById("computationButton").style.visibility = "hidden";
    document.getElementById("successMessage").style.display = "none";
  }
  // slow game loop to 15 fps instead of 60 (60/15 = 4)
  if (++count < 4) {
    return;
  }
  count = 0;
  context.clearRect(0,0,canvas.width,canvas.height);
  // move snake by it's velocity
  snake.x += snake.dx;
  snake.y += snake.dy;
  // wrap snake position horizontally on edge of screen
  if (snake.x < 0) {
    snake.x = canvas.width - grid;
  }
  else if (snake.x >= canvas.width) {
    snake.x = 0;
  }

  // wrap snake position vertically on edge of screen
  if (snake.y < 0) {
    snake.y = canvas.height - grid;
  }
  else if (snake.y >= canvas.height) {
    snake.y = 0;
  }
  // keep track of where snake has been. front of the array is always the head
  snake.cells.unshift({x: snake.x, y: snake.y});
  // remove cells as we move away from them
  if (snake.cells.length > snake.maxCells) {
    snake.cells.pop();
  }
  // draw apple
  context.fillStyle = 'red';
  context.fillRect(apple.x, apple.y, grid-1, grid-1);
  // draw snake one cell at a time
  context.fillStyle = 'green';
  snake.cells.forEach(function(cell, index) {

    // drawing 1 px smaller than the grid creates a grid effect in the snake body so you can see how long it is
    context.fillRect(cell.x, cell.y, grid-1, grid-1);
    // snake ate apple
    if (cell.x === apple.x && cell.y === apple.y) {
      snake.maxCells++;
      score+=10;

      //max=score;
      document.getElementById('score').innerHTML=score;

      // canvas is 400x400 which is 25x25 grids
      apple.x = getRandomInt(0, 25) * grid;
      apple.y = getRandomInt(0, 25) * grid;
    }
    // check collision with all cells after this one (modified bubble sort)
    for (var i = index + 1; i < snake.cells.length; i++)
    {

      // snake occupies same space as a body part. reset game
      if (cell.x === snake.cells[i].x && cell.y === snake.cells[i].y)
      {
        if(score>10)
        {
          proceed = true;
        }


        if(score>max)
        {
          max=score;
        }

        snake.x = 160;
        snake.y = 160;
        snake.cells = [];
        snake.maxCells = 4;
        snake.dx = grid;
        snake.dy = 0;
        score=0;
        apple.x = getRandomInt(0, 25) * grid;
        apple.y = getRandomInt(0, 25) * grid;
        document.getElementById('high').innerHTML=max;
      }
    }
  }

);

}
// listen to keyboard events to move the snake
document.addEventListener('keydown', function(e) {
  // prevent snake from backtracking on itself by checking that it's
  // not already moving on the same axis (pressing left while moving
  // left won't do anything, and pressing right while moving left
  // shouldn't let you collide with your own body)

  // left arrow key
  if (e.which === 37 && snake.dx === 0) {
    snake.dx = -grid;
    snake.dy = 0;
  }
  // up arrow key
  else if (e.which === 38 && snake.dy === 0) {
    snake.dy = -grid;
    snake.dx = 0;
  }
  // right arrow key
  else if (e.which === 39 && snake.dx === 0) {
    snake.dx = grid;
    snake.dy = 0;
  }
  // down arrow key
  else if (e.which === 40 && snake.dy === 0) {
    snake.dy = grid;
    snake.dx = 0;
  }
});
// start the game
requestAnimationFrame(loop);
</script>
<body onload="timeRemaining()">
  <center><div><span id="time"></span></div></center>
<p id="computationButton"><a href="{{ url_for('computation') }}"><button type="button" class="btn btn-success">continue!</button></a></p>
</body>

</html>

{% endblock %}
